<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>insight</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo Black">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
</head>
<style>
h1{text-align: center}
h2{text-align: center}
body{
background-image: url("{{ url_for('static', filename='background.jpg') }}");
}
</style>
<body >
<br>
<br>
<br>
<br>
<br>
<br>
<h1 style="font-size:550%;
    text-shadow: 4px 4px 4px #aaa;font-family: 'Archivo Black'; color:#404040">INSIGHT</h1>
<h1 style="font-size:350%;text-shadow: 4px 4px 4px #aaa;font-family: 'Arimo';color:#404040">contract analysis</h1>
<br>
<br>
<br>
<p style="text-align:center">
<input type="button" value="START"
    onclick="location.href='/upload';" /> </p>
</body>
</html>