certifi==2020.12.5
chardet==3.0.4
click==7.1.2
Cython==0.29.14
datefinder-lexpredict==0.6.2.1
dateparser==0.7.2
docopt==0.6.2
Flask==1.1.2
gensim==3.8.3
idna==2.10
itsdangerous==1.1.0
jellyfish==0.6.1
Jinja2==2.11.3
joblib==0.14.0
lexnlp==1.8.0
MarkupSafe==1.1.1
mkl-fft==1.0.6
mkl-random==1.0.1
nltk==3.5
num2words==0.5.10
numpy==1.19.1
olefile==0.46
pandas==0.24.2
pdfminer==20191125
Pillow==8.1.2
pycountry==20.7.3
PyPDF2==1.26.0
pytesseract==0.3.7
python-dateutil==2.8.1
pytz==2021.1
regex==2020.7.14
reporters-db==2.0.3
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
smart-open==4.2.0
#TBB==0.1
threadpoolctl==2.1.0
tqdm==4.59.0
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.11
us==2.0.2
Werkzeug==1.0.1
wincertstore==0.2